html,body{
    padding: 100px;
    background-color: lightseagreen;
}
/**{
    box-sizing: border-box;
}*/
/*.section{
    overflow: hidden;
}*/
div{
    display: block;
}
h1{
    font-size: 8em;
    color: floralwhite;
    text-align: center;
    text-shadow: 4px 1px  blue,
    4px -1px white;
    /*实现day4的任务1，学习使用background，使用集中式的书写属性方式*/
    background-color: yellow;
    background: url("../img/2.jpg") no-repeat right,
    linear-gradient(to right, green, #dddd00 50%, orange);
}
/*b{
    text-align: center;
    text-decoration: blink, underline;
    float: left;
}*/
/*div {
    background-color: yellow;
    background-image: linear-gradient(to bottom, yellow, #dddd00 50%, orange);
    background-repeat: no-repeat;
    background-position: 99% center;
}*/
.row{
    overflow: hidden;
    position: relative;
    padding: 30px;
    width: 100%;
    /*background-color: yellow;*/
    /*background-image: linear-gradient(to right, yellow, #dddd00 50%, orange);*/
}
.column-2{
    width:50%;
    /*background:  red;*/
    font-size: 1.5em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*分散式的书写background属性*/
    background-color: orangered;
    background-image: url("3.png");
    /*height: 100px;*/
                      /*linear-gradient(to right, green, #dddd00 50%, orange);*/
    background-position: left ;
    background-repeat: no-repeat;
}
.column-4{
    padding: 10px;
    width: 50%;
    font-size: 1.5em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px dashed darkred;
    border-left: 10px solid greenyellow;
}
div.c4-list {
    height: 300px;
    float: left;
    border-style: inset;
    border-color: #000;
    border-width: 4px;
}
/*div.column-8{
    width:50%;
    background:  pink;
    font-size: 1.5em;
    float: left;
}*/
.center{
    text-align: center;
}
p{
    font-family:"Trebuchet MS", Verdana, sans-serif ;
    color: #008;
    font-size: 1.5em;
    font-weight: bolder;
    float: left;
    text-align: center;
}
p.p1{
    color: greenyellow;
    font-style: italic;
    text-indent: 50px;
}
p.p2{
    color: green;
    font-style: oblique;
}
ul{
    list-style-type: squre;
    list-style-image: url('http://www.w3school.com.cn/i/eg_arrow.gif');
    list-style-position: inside;
    float: left;
}
li.bottom-li{
    list-style: circle inside;
}
h3{
    display: block;
    font-size: 50px;
    font-family: "STHupo","Microsoft YaHei UI";
}
a{
    background-color: initial;
}
a:link {
    color: blue;
}
a:visited {
    color: gray;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
a:link, a:visited{
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}