*{
    border: solid;
}
.row{
    position: relative;
}
body{
    background-color: lightseagreen;
}
div{
    display: block;
}
h1{
    font-size: 8em;
    color: floralwhite;
    text-align: center;
    text-shadow: 4px 1px  blue,
    4px -1px white;
}
b{
    text-align: center;
    text-decoration: blink, underline;
    float: left;
}
img{
    width: 400px;
    height: 400px;
}
div.section{
    overflow: hidden;
    width: 100%;
    line-height: 240%;
}
div.row{
    width: 100%;
    float: left;
}
div.column-2{
    width:50%;
    background:  red;
    font-size: 1.5em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.column-4{
    width: 50%;
    background:  yellow;
    font-size: 1.5em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.column-8{
    width:50%;
    background:  pink;
    font-size: 1.5em;
    float: left;
}
p{
    font-family:"Trebuchet MS", Verdana, sans-serif ;
    color: #008;
    font-size: 1.5em;
    font-weight: bolder;
    float: left;
    text-align: center;
}
p.p1{
    color: greenyellow;
    font-style: italic;
    text-indent: 50px;
}
p.p2{
    color: green;
    font-style: oblique;
}
ul{
    float: left;
}
