* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "STHupo", "Microsoft YaHei UI", sans-serif;
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
h2 {
}
p {
    padding: 1em 0;
    line-height: 1.5em;
}

.row {
    width: 100%;
    padding: 50px 100px;
    display: inline-block;
    border: darkgray solid 1px;
}
/*--------------第一行 hello---------------*/
div.hello p, div.hello h3 {
    text-align: center;
}

div.hello {
    background-size: cover;
    background: url("../img/forest1.jpeg") no-repeat;
}

div.account {
    padding: 3em;
    border: darkgray solid 1px;
    background: rgba(1, 1, 1, 0);
    text-align: center;
}

div.account input {
    padding: 1em 2em;
    margin: 0 1em;
    color: white;
    background: rgba(1, 1, 1, 0);
}

div.account .button {
    background-color: white;
    color: darkgray;
    box-shadow: 0 0 5px 5px #ffffff;
    border: none;
}
/*-------------------第二行info-----------------------*/
div.info > h3 {
    text-align: center;
}

div.info-message {
    padding: 0 50px;
    height: 150px;
    width: 50%;
    float: left;
}

div.info-message > p {
    padding: 20px 0;
}

div.clearfix:after {
    clear: both;
}
/*---------------------第三行------------------------------*/
.three {
    position: relative;
    height: 800px;
    background: url("../img/night.jpeg");
    background-size: cover;
    overflow: hidden;
}

/*three里面的左边，暂时留着*/
.three {
    padding-right: 50%;
}
.three .three-left {
    color: #ffffff;
    text-align: left;
    height: 100%;
    padding: 15% 0;
    vertical-align: middle;
}
.three-left h1 {
    text-align: left;
    padding: 5%;
    padding-left: 0;
}
.three-left p {
    padding: 2em 0;
    line-height: 2em;
}
.three a {
    display: inline-block;
    padding: 1em 1em;
    border: solid gray 1px;
    width: 49%;
    text-align: center;
}
.three .btn-container a:first-child {
    background-color: white;
    color: #000;
}

.three .btn-container:hover a {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.three .btn-container a:hover {
    background: #ffffff;
    color: black;
}

.insert-picture {
    height: 70%;
    width: 70%;
    position: absolute;
    top: 15%;
    right: -25%;
    background: rgba(0, 0, 0, 0);
    border: black solid 1px;
    border-radius: 30px;
}

.insert-picture:before {
    content: '';
    display: block;
    border: solid black 1px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 10px;
    top: 50%;

}

.screen h2 {
    text-align: center;
    margin: 0.3em 1em;
}
.screen p {
    text-align: center;
    padding: 3em 0;
}
.screen {
    margin: 15px 40px;
    padding: 5% 5%;
    height: calc(100% - 30px);
    width: calc(100% - 60px);
    background: #ffffff;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.screen div {
    float: left;
    width: 23%;
    height: 50%;
    min-height: 200px;
    margin: 0 1%;
    display: inline-block;
    border: darkgray solid 1px;
    box-shadow: 0 0 1px 1px darkgray;
}

.screen div:last-of-type:after {
    content: '';
    clear: both;
    height: 0;
    visibility: hidden;
}
.insert-picture .resource {
    width: 100%;
    size: auto;
    padding: 20% 33%;
}
.screen div:nth-of-type(1) .resource {
    background: rgb(137, 15, 195);
}

.screen div:nth-of-type(2) .resource {
    background: rgb(0, 202, 206);
}

.screen div:nth-of-type(3) .resource {
    background: rgb(0, 157, 250);
}

.screen div:nth-of-type(4) .resource {
    background: rgb(137, 15, 195);
}

.insert-picture .adv {
    padding: 0;
    font-size: 0.6em;
}

.insert-picture .adv-h {
    padding: 0.5em;
}

/*------------------第四行-----------------*/
.product-intro {
    display: flex;
}

.product {
    flex: 1;
    text-align: center;
}

.product .product-img {
    width: 100%;
    height: 50px;
    padding: 0 20%;
}

.row:nth-of-type(4) {
    border: none;
}

/*-----------------第五行--------------*/
.row:nth-of-type(5) {
border: darkgray solid 1px;
}
.fifth-img {
    float: left;
    width: 60%;
}
.r1, .r2 {
    padding: 50px 0;
    display: inline-block;
}

.fifth-message {
    float: left;
    width: 30%;
}
.fifth-img:first-child {
    margin-right: 10%;
}
.r2 .fifth-message {
    margin-right: 10%;
}
/*--------------第五行 our Awesome crew--------------*/
.crew p {
    text-align: center;
}
.member-box {
    position: relative;
}
.member {
    float: left;
    position: relative;
    width: 40%;
    margin: 5%;
    height: 400px;
    z-index: 0;
}
.worker1 {
    background: url("../../1.jpg");
    background-size: cover;
}
.worker2 {
    background: url("../../1.jpg");
    background-size: cover;
}
.worker3 {
    background: url("../../1.jpg");
    background-size: cover;
}
.worker4 {
    background: url("../../1.jpg");
    background-size: cover;
}
.worker-information {
    height: 100%;
    width: 100%;
    position: relative;
    visibility: hidden;
}
.member:hover .worker-information {
    visibility: visible;
    background-color: rgba(102,102,102,0.3);
}
.worker-information h3 {
    padding-top: 10%;
    color: #ffffff;
    text-align: center;
}
.worker-information p {
    color: darkgray;
}
/*把三个图标当背景和当img元素都写一遍*/
.logo-box {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
}
.logo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: solid 1px darkgray;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    text-align: center;
}
.icon {
    vertical-align: -50%;
}

/*------------------------第六行 contacts-------------------*/
.contacts {
    border: none;
}
.column {
    width: 40%;
    height: 500px;
    margin: 5%;
    float: left;
}
.column:nth-of-type(1) {
    border: solid 1px darkgray;
    text-align: center;
}
.column:nth-of-type(1) h3{
    padding: 10% 1%;
}
.column input {
    width: 80%;
    padding: 10px 10px;
    margin: 2% 0;
}
.column input:nth-of-type(3) {
    height: 30%;
    vertical-align: text-top;
}
.column input:nth-of-type(4) {
    color: #ffffff;
    background-color: rgb(20,20,20);
}
.column:nth-of-type(2) p, .column:nth-of-type(2) h1 {
    text-align: left;
    padding-left: 0;

}
.col {
    width: 100%;
    float: left;
    padding: 0 0 ;
    padding-left: 30px;
}
.contact-info .col:nth-of-type(1) {
    background: url("../img/Map icon.png") no-repeat left;
}
.contact-info .col:nth-of-type(2) {
    background: url("../img/Phone icon.png") no-repeat left;
}
.contact-info .col:nth-of-type(3) {
    background: url("../img/Mail icon.png") no-repeat left;
}
/*-----------------------第七行 footer-----------------------*/
footer {
    padding: 50px 50px;
    background-color: rgb(20,20,20);
    display: flex;
}
.menu {
    flex: 1;
}
footer .menu h3{
    color: #ffffff;
}
footer .menu div{
    margin: 1em 0;
    color: darkgray;
}